[Desktop Entry]
Type=Application
Name=onify
GenericName=Music Player
Comment=A smooth, lightweight Spotify client
Exec=onify %U
Icon=io.github.orqz.onIfy
Terminal=false
Categories=AudioVideo;Audio;Player;GTK;
Keywords=spotify;music;player;
MimeType=x-scheme-handler/spotify;
StartupNotify=true
StartupWMClass=io.github.orqz.onIfy
DBusActivatable=false
